@import "../../app.scss";

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #373632, #111132);
  z-index: 9999;
}

.load {
  display: flex;
  align-items: center;
  gap: 20px;

  img {
    width: 200px;
    height: 200px;
  }

  h1 {
    color: #fff;
    font-size: 32px;
    letter-spacing: 2px;
    min-width: 160px; // prevents text jump
  }

  @include mobile {
    flex-direction: column;

    img {
      width: 150px;
      height: 150px;
    }

    h1 {
      font-size: 24px;
      margin-left: 55px;
    }
  }
}
