@import "../../app.scss";

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  background: linear-gradient(180deg, #373632, #111132);
    // linear-gradient(180deg, #80751d, #111132);
    z-index: 9999;
  }
  .load{
    animation: spin 1.5s ease-in-out infinite;
    img{
      width: 250px;
      height: 250px;
    }
    @include mobile{
        img{
            width: 150px;
            height: 150px;
        }
    }
  }
  
//   .spinner {
//     width: 50px;
//     height: 50px;
//     border: 5px solid rgba(0, 0, 0, 0.1);
//     border-top-color: #000;
//     border-radius: 50%;
//     animation: spin 1s linear infinite;
//   }
  
  // @keyframes spin {
  //   to {
  //     transform: rotate(360deg);
  //   }
  // }
  @keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(0deg);
  }
}