@import "../../app.scss";
.contactDiv{
  height: 80vh;
  max-width: 100%;
  background: #000;
    scroll-snap-align: center;
  scroll-snap-stop: always;
  @include mobile{
    height: 100vh;
    position: relative;
  }
.contact{
    height: 100%;
    max-width: 1366px;
    margin: auto;
    display: flex;
    align-items: center;
    gap: 50px;

    @include mobile{
      margin-top: -80px;
        width: 100%;
        padding: 10px;
        flex-direction: column;
      }

    .textContainer{
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 40px;

        @include mobile{
           gap: 10px;
           text-align: center;
           align-items: center;
           margin-top: 130px;
          }
          .item {
            display: flex;
            align-items: center; /* Centers items vertically */
            gap: 10px; /* Optional: Adds space between image and text */
          }
          .item2{
            @include mobile{
              
              margin-top: -20px;
              margin-right: -20px;
            }
          }
          
          .item img {
            display: block; /* Ensures no extra space below the image */
            @include mobile{
              margin-left: 10px;
            }
          }
          

        h1{
            font-size: 100px;
            line-height: 88px;

            @include mobile{
                font-size: 36px;
                line-height: 1.2;
              }
        }
        span{
            font-weight: 300;
        }
    }
    .formContainer{
        flex: 1;
        position: relative;
        

        @include mobile{
            margin-top: -70px;
            margin-bottom: 60px;
            padding: 50px;
            width: 100%;
          }

        // .phoneSvg{
        //     stroke: orange;
        //     position: absolute;
        //     margin: auto;
        //     z-index: -1;

        //     @include mobile{
        //      svg{ 
        //       margin-top: 50px;
        //       width: 250px;
        //       height: 250px;}
        //     }
        // }

        .quickLinks {
        display: flex;
        flex-direction: column;
        margin-top: -60px;
        margin-left: 100px;
        color: white;
        // font-size: 48px;
        h2{
                  margin-left: 10px;
                  font-size: 48px;
        }
       h1{
        margin-left: 20px;
        font-size: 20px;
        color: rgb(244, 230, 230);
        text-decoration-thickness: 2px;
        font-weight: 100;
        text-decoration: underline;
        cursor: pointer;
       }
       .one{
        margin-top: 30px;
       }
       @include mobile{
        margin-left: 60px;
         h2{
                  font-size: 32px;
                  margin-left: -12px;
                  margin-bottom: -20px;
        }
        h1{
        margin-left: -10px;
        }
       }
      }
    }

}
}