@import "../../app.scss";

.webprocess {
  width: 100%;
  padding: 60px 0;
  text-align: center;
  background: #fff9f9;
  scroll-snap-align: center;
  scroll-snap-stop: always;

  h1 {
    font-size: 40px;
    font-weight: 700;
    color: #111;

    span {
      color: #014b97;     // green text
    }
  }

  .subtitle {
    width: 60%;
    margin: 10px auto 40px auto;
    font-size: 16px;
    color: #444;
  }

  .timeline {
    width: 80%;
    margin: auto;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 2px;
      background: #dcdcdc;
      top: 0;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }

    .container {
      
      width: 50%;
      padding: 20px 0;
      position: relative;

      .hex {
        width: 20px;
        height: 20px;
        background: #014b97;
        clip-path: polygon(
          25% 0%, 75% 0%, 
          100% 50%, 75% 100%, 
          25% 100%, 0% 50%
        );
        position: absolute;
        top: 40%;
        transform: translateY(-50%);
        z-index: 10;
        box-shadow: 0 0 10px rgba(22, 163, 74, 0.5);
      }

      .card {
        width: 330px;
        background: #fff;
        color: gray;
        padding: 25px;
        border-radius: 6px;
        box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
        border-left: 4px solid #014b97;

          &:hover {
    transform: translateY(-6px);
  }

        h2 {
          font-size: 20px;
          margin-bottom: 10px;
          font-weight: 700;
        }

        p {
          font-size: 15px;
          line-height: 1.6;
          color: #555;
        }
      }
    }

    .right {
      left: 50%;
      text-align: left;

      .hex {
        left: -10px;
      }

      .card {
        margin-left: 40px;
      }
    }

    .left {
      left: 0%;
      text-align: right;

      .hex {
        right: -10px;
      }

      .card {
        margin-left: auto;
        margin-right: 40px;
      }
    }
  }
}

/* RESPONSIVE FOR MOBILE */
@media (max-width: 900px) {
  .webprocess .timeline::before {
    left: 20px;
  }

  .webprocess .timeline .container {
    width: 100%;
    padding-left: 50px !important;

    .card {
      width: 90% !important;
      margin: 0 !important;
    }

    .hex {
      left: 20px !important;
      right: auto !important;
    }
  }
}
@include mobile {
  .webprocess {
    padding: 40px 0;

    .subtitle {
      width: 90%;
    }

    .timeline {
      width: 95%;

      &::before {
        left: 20px; // move center line to left
      }

      .container {
        width: 100%;
        padding-left: 50px !important;
        text-align: left !important;

        .hex {
          left: 20px !important;
          right: auto !important;
        }

        .card {
          width: 90% !important;
          margin: 0 !important;
        }
      }

      .left,
      .right {
        left: 0 !important;

        .card {
          margin: 0 0 20px 0 !important;
        }
      }
    }
  }
}

.industries {
  margin-bottom: 100px;
  margin-top: 80px;
  padding: 40px 0;
  background-color: #f9fafb;

  h2 {
    font-size: 28px;
    font-weight: 700;
    color: #111;
    margin-bottom: 20px;

    span {
      color: #014b97; // blue text
    }
  }

  .description {
    font-size: 16px;
    line-height: 1.6;
    color: #444;
    width: 80%;
    margin: 0 auto 30px;
  }

  .industry-list {
    ul {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      gap: 10px;
      list-style-type: none;
      padding: 0;


      li {
        font-size: 16px;
        color: #1d4ed8;  // blue link color
        cursor: pointer;
        transition: color 0.3s;

        &:hover {
          color: #014b97;  // blue hover effect
        }
      }
    }
  }
}
/* RESPONSIVE FOR MOBILE */
@include mobile {
  .industries {
    margin-top: -10px;
    padding: 20px 0;

    .description {
      width: 90%;
    }

    .industry-list ul {
      grid-template-columns: 1fr 1fr;
    }
  }
}