html{
    scroll-snap-type: y mandatory;
    // scroll-behavior: smooth;
    scroll-snap-stop: always;

}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "DM sans";
}
body{
    // background-color: #0c0c1d;
    background: #000;
    color: lightgray;
}
a{
    text-decoration: none;
    color: inherit;
}
section{
    height: 100vh;
    scroll-snap-align: center;
}
#Services,
#Parallax,
#Portfolio
{
  height: auto !important;
}
.footer{
   height: 20px;
   padding: 20px; 
   padding-left: 0rem;
   padding-right: 0rem;
   margin-top: -50px;
}
.whatsapp-button {
    position: fixed;
    bottom: 15px;
    right: 10px; 
    padding: 1rem; 
    z-index: 1001;
    img {
      width: 60px;
       &:hover {
    transform: translateY(-3px);
  }
    }
  }
  
@mixin mobile {
    @media (max-width: 738px){
        @content;
    }
}
@mixin tablet {
    @media (max-width: 1024px){
        @content;
    }
}
@mixin desktop {
    @media (max-width: 1366px){
        @content;
    }
}
