.map-section {
    width: 100%;
  height: 400px;

  padding: 40px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;

  .gmap-frame {
    width: 100%;
    max-width: 1200px;

    iframe {
      width: 100%;
      height: 250px;
      border: 0;
      border-radius: 8px;
    }
  }
}
